@model string

@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}
        <div class="row mb-2">
            <div class="col-sm-6">
                <h2>Wellcome @Model</h2>
            </div> 
        </div>