
@{
    ViewBag.Title = "title";
    Layout = "_Error";
}

<div class="vc-container">
    <div class="vc-content">
        <h1 class="vc-heading">401</h1>
        <p class="vc-sub-heading">Unauthorized <span class="blink-infinite">Error</span></p>
        <p class="vc-sub-heading">Cancel  <span class="blink-infinite"><h1 class="vc-heading"><a  style="text-decoration: none" asp-controller="Admin" asp-action="Index">Home</a></h1></span></p>
        
    </div>
</div>