
@{
	ViewBag.Title = "title";
	Layout = "_FrontEndLayout";

}



	<section class='cart'>
			<div class='container p-0'>
				<div class='row'>
					<div class="col-md-12">
						<h2 class="title-page">
							Giỏ hàng của bạn
						</h2>
					</div>
					<div class='col-md-12'>
						<div class='list-cart table'>
							<table class="text-center">
								<thead>
									<tr>
										<th>STT</th>
										<th>Ảnh sản phẩm</th>
										<th>Tên sản phẩm</th>
										<th>Giá</th>
										<th>Số lượng</th>
										<th>Thành tiền</th>
										<th>Thao tác</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td colspan='7'>
											<div class='row justify-content-end'>
												<a class='to-checkout' >
													Thanh toán
												</a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>

