@{
    ViewBag.Title = "title";
    Layout = "_Error";
}
    <div class="vc-container">
        <div class="vc-content">
            <h3 class="vc-heading">Request ExpiredDate</h3>
            <h3><p class="vc-sub-heading">Go to <a style="text-decoration: none" asp-action="Index" asp-controller="Admin"><span class="blink-infinite">Home</span></a></p></h3>
            <p class="vc-sub-heading">OR <a style="text-decoration: none; color: red" asp-action="ExpiredDate" asp-controller="Account"><span class="blink-infinite">Extendible</span></a></p>
        </div>
    </div>
    
    