

@{
    ViewBag.Title = "title";
    Layout = "_FrontEndLayout";
}


<section class="breadcrumb">
	<div class="container p-0">
		<div class="col-md-12">
			<ul>
				<li>
					<a href="#">
						Trang chủ
					</a>
				</li>
				<li>
					<a href="#">
						Giành cho nam
					</a>
				</li>
				<li>
					Giày Thể Thao Cao Cấp Nam Biti's DSMH01400XAM (Xám)
				</li>
			</ul>
		</div>
	</div>
</section>

<section class="about_page">

			<div class="container p-0">
				<div class="row">
					<div class="col-md-12">
						<h2 class="title">
							Giới thiệu về chúng tôi
						</h2>
						<h3 class="sub-title-page">
							Pick a room that best suits your taste and budget
						</h3>
					</div>
				</div>
				<div class="text_about_page">
					<div class="row align-items-center">
						<div class="col-md-6">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/vWB-8rrig6k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
						<div class="col-md-6">
							Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ nghĩa dễ gây rối trí và cản trở việc tập trung vào yếu tố trình bày văn bản. Lorem Ipsum có ưu điểm hơn so với đoạn văn bản chỉ gồm nội dung kiểu "Nội dung, nội dung, nội dung" là nó khiến văn bản giống thật hơn, bình thường hơn. Nhiều phần mềm thiết kế giao diện web và dàn trang ngày nay đã sử dụng Lorem Ipsum làm đoạn văn bản giả, và nếu bạn thử tìm các đoạn "Lorem ipsum" trên mạng thì sẽ khám phá ra nhiều trang web hiện vẫn đang trong quá trình xây dựng. Có nhiều phiên bản khác nhau đã xuất hiện, đôi khi do vô tình, nhiều khi do cố ý (xen thêm vào những câu hài hước hay thông tục).
						</div>
					</div>
					<div class="row align-items-center">
						<div class="col-md-8">
							Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ nghĩa dễ gây rối trí và cản trở việc tập trung vào yếu tố trình bày văn bản. Lorem Ipsum có ưu điểm hơn so với đoạn văn bản chỉ gồm nội dung kiểu "Nội dung, nội dung, nội dung" là nó khiến văn bản giống thật hơn, bình thường hơn. Nhiều phần mềm thiết kế giao diện web và dàn trang ngày nay đã sử dụng Lorem Ipsum làm đoạn văn bản giả, và nếu bạn thử tìm các đoạn "Lorem ipsum" trên mạng thì sẽ khám phá ra nhiều trang web hiện vẫn đang trong quá trình xây dựng. Có nhiều phiên bản khác nhau đã xuất hiện, đôi khi do vô tình, nhiều khi do cố ý (xen thêm vào những câu hài hước hay thông tục).
						</div>
						<div class="col-md-4">
							<img src="~/Frontend/images/img-about-page.jpg" alt="">
						</div>
					</div>
				</div>
			</div>
		</section>