

@{
    ViewBag.Title = "title";
    Layout = "_FrontEndLayout";
}


<section class="breadcrumb">
	<div class="container p-0">
		<div class="col-md-12">
			<ul>
				<li>
					<a asp-action="Home" asp-controller="Home">
						Trang chủ
					</a>
				</li>
				<li>
					<a asp-action="Home" asp-controller="Home">
						Giành cho bạn 
					</a>
				</li>
				<li>
					<b>TULI STORE</b>
				</li>
			</ul>
		</div>
	</div>
</section>

<section class="about_page">

			<div class="container p-0">
				<div class="row">
					<div class="col-md-12">
						<h2 class="title">
							Giới thiệu về chúng tôi
						</h2>
						<h3 class="sub-title-page">
							Pick a room that best suits your taste and budget
						</h3>
					</div>
				</div>
				<div class="text_about_page">
					<div class="row align-items-center">
						<div class="col-md-6">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/vWB-8rrig6k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
						<div class="col-md-6">
							
							Trải qua thời gian hình thành và phát triển Juno đã trở thành một thương hiệu thời trang giày dép, túi xách và phụ kiện, được phụ nữ Việt Nam yêu thích và chọn lựa. Hiện nay, thương hiệu Juno đã phát triển mạnh mẽ với hàng chục cửa hàng trải dài trên toàn quốc và website bán hàng trực tuyến thân thiện, chuyên nghiệp hàng đầu Việt Nam. Không dừng lại ở đó, dịch vụ của Juno luôn mang đến sự hài lòng và quyền lợi của khách hàng luôn được đáp ứng, thoả mãn…
						</div>
					</div>
					<div class="row align-items-center">
						<div class="col-md-8">
							Với mục tiêu không ngừng phát triển và hoàn thiện, sản phẩm của Juno luôn mang đến cho phụ nữ sự tự tin, toả sáng để thành công trong công việc, cuộc sống với phong cách thời trang riêng biệt, ấn tượng. Bên cạnh việc chú trọng đến sự êm ái, giá cả phải chăng, sản phẩm Juno luôn được chỉnh chu trong từng chi tiết, mẫu mã đa dạng, phù hợp mọi hoàn cảnh và mang hơi thở thời trang trong nước, thế giới...
						</div>
						<div class="col-md-4">
							<img src="~/Frontend/images/img-about-page.jpg" alt="">
						</div>
					</div>
				</div>
			</div>
		</section>