

@{
    ViewBag.Title = "title";
    Layout = "_FrontEndLayout";
}

		<section class="news_page">
			<div class="container p-0">
				<div class="row">
					<div class="col-md-12">
						<h2 class="title">
							Tin tức về nấm con cua giống con cua
						</h2>
						<h3 class="sub-title-page">
							Pick a room that best suits your taste and budget
						</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 p-0">
						<div class="row">
							<div class="col-md-12">
								<div class="item-news">
									<div class="img-news">
										<a href="blog-detail.html">
											<img src="~/Frontend/images/img-detail-01.jpg" alt="">
										</a>
									</div>
									<div class="created">
										<span class="date">
											<i class="fas fa-calendar"></i>
											12/12/2012
										</span>
										<span class="byuser">
											<i class="fas fa-user-edit"></i>
											Admin Concua
										</span>
									</div>
									<h3 class="name-news">
										<a href="blog-detail.html">
											Best night photo at resort
										</a>
									</h3>
									<div class="summary_news">
										Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ nghĩa dễ gây rối trí và cản trở việc tập trung vào yếu tố trình bày văn bản. Lorem Ipsum có ưu điểm hơn so với đoạn văn bản chỉ gồm nội dung kiểu "Nội dung, nội dung, nội dung" là nó khiến văn bản giống thật hơn, bình thường hơn ... 
									</div>
								</div>
							</div>

							<div class="col-md-12">
								<div class="item-news">
									<div class="img-news">
										<a href="blog-detail.html">
											<img src="~/Frontend/images/img-detail-02.jpg" alt="">
										</a>
									</div>
									<div class="created">
										<span class="date">
											<i class="fas fa-calendar"></i>
											12/12/2012
										</span>
										<span class="byuser">
											<i class="fas fa-user-edit"></i>
											Admin Concua
										</span>
									</div>
									<h3 class="name-news">
										<a href="blog-detail.html">
											Best night photo at resort
										</a>
									</h3>
									<div class="summary_news">
										Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ nghĩa dễ gây rối trí và cản trở việc tập trung vào yếu tố trình bày văn bản. Lorem Ipsum có ưu điểm hơn so với đoạn văn bản chỉ gồm nội dung kiểu "Nội dung, nội dung, nội dung" là nó khiến văn bản giống thật hơn, bình thường hơn ... 
									</div>
								</div>
							</div>

							<div class="col-md-12">
								<div class="item-news">
									<div class="img-news">
										<a href="blog-detail.html">
											<img src="~/Frontend/images/img-detail-03.jpg" alt="">
										</a>
									</div>
									<div class="created">
										<span class="date">
											<i class="fas fa-calendar"></i>
											12/12/2012
										</span>
										<span class="byuser">
											<i class="fas fa-user-edit"></i>
											Admin Concua
										</span>
									</div>
									<h3 class="name-news">
										<a href="blog-detail.html">
											Best night photo at resort
										</a>
									</h3>
									<div class="summary_news">
										Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ nghĩa dễ gây rối trí và cản trở việc tập trung vào yếu tố trình bày văn bản. Lorem Ipsum có ưu điểm hơn so với đoạn văn bản chỉ gồm nội dung kiểu "Nội dung, nội dung, nội dung" là nó khiến văn bản giống thật hơn, bình thường hơn ... 
									</div>
								</div>
							</div>

							<div class="col-md-12">
								<div class="item-news">
									<div class="img-news">
										<a href="blog-detail.html">
											<img src="~/Frontend/images/img-detail-04.jpg" alt="">
										</a>
									</div>
									<div class="created">
										<span class="date">
											<i class="fas fa-calendar"></i>
											12/12/2012
										</span>
										<span class="byuser">
											<i class="fas fa-user-edit"></i>
											Admin Concua
										</span>
									</div>
									<h3 class="name-news">
										<a href="blog-detail.html">
											Best night photo at resort
										</a>
									</h3>
									<div class="summary_news">
										Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ nghĩa dễ gây rối trí và cản trở việc tập trung vào yếu tố trình bày văn bản. Lorem Ipsum có ưu điểm hơn so với đoạn văn bản chỉ gồm nội dung kiểu "Nội dung, nội dung, nội dung" là nó khiến văn bản giống thật hơn, bình thường hơn ... 
									</div>
								</div>
							</div>

							<div class="col-md-12">
								<div class="item-news">
									<div class="img-news">
										<a href="blog-detail.html">
											<img src="~/Frontend/images/img-detail-05.jpg" alt="">
										</a>
									</div>
									<div class="created">
										<span class="date">
											<i class="fas fa-calendar"></i>
											12/12/2012
										</span>
										<span class="byuser">
											<i class="fas fa-user-edit"></i>
											Admin Concua
										</span>
									</div>
									<h3 class="name-news">
										<a href="blog-detail.html">
											Best night photo at resort
										</a>
									</h3>
									<div class="summary_news">
										Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ nghĩa dễ gây rối trí và cản trở việc tập trung vào yếu tố trình bày văn bản. Lorem Ipsum có ưu điểm hơn so với đoạn văn bản chỉ gồm nội dung kiểu "Nội dung, nội dung, nội dung" là nó khiến văn bản giống thật hơn, bình thường hơn ... 
									</div>
								</div>
							</div>

							<div class="col-md-12">
								<div class='pagination'>
									<ul>
										<li>
											<a href='#'>
												<i class='fas fa-arrow-left'></i>
											</a>
										</li>
										<li class='active'>
											<a href='#'>1</a>
										</li>
										<li>
											<a href='#'>2</a>
										</li>
										<li>
											<a href='#'>3</a>
										</li>
										<li>
											<a href='#'>...</a>
										</li>
										<li>
											<a href='#'>4</a>
										</li>
										<li>
											<a href='#'>5</a>
										</li>
										<li>
											<a href='#'>
												<i class='fas fa-arrow-right'></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="side-bar">
							<div class="search-bar">
								<form action="#" class="form-search">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Tìm kiếm" />
										<button class="btn-search">
											<i class="fas fa-search"></i>
										</button>
									</div>
								</form>
							</div>

							<div class="blog-featured">
								<h3 class="title-bar">Tin xem nhiều</h3>
								<ul class="list-cate">
									<li>
										<a href="blog.html">
											<i class="fas fa-angle-double-right"></i>
											Best night photo at resort
										</a>
									</li>
									<li>
										<a href="blog.html">
											<i class="fas fa-angle-double-right"></i>
											Sed ut perspiciatis unde omnis
										</a>
									</li>
									<li>
										<a href="blog.html">
											<i class="fas fa-angle-double-right"></i>
											voluptatem accusa nt ium doloremque
										</a>
									</li>
									<li>
										<a href="blog.html">
											<i class="fas fa-angle-double-right"></i>
											doloremque laudantium totam 
										</a>
									</li>
									<li>
										<a href="blog.html">
											<i class="fas fa-angle-double-right"></i>
											unde omnis iste natus error
										</a>
									</li>
								</ul>
							</div>

							<div class="blog-new">
								<h3 class="title-bar">Tin xem nhiều</h3>
								<ul class="list-cate">
									<li>
										<a href="blog.html">
											<i class="fas fa-angle-double-right"></i>
											Best night photo at resort
										</a>
									</li>
									<li>
										<a href="blog.html">
											<i class="fas fa-angle-double-right"></i>
											Sed ut perspiciatis unde omnis
										</a>
									</li>
									<li>
										<a href="blog.html">
											<i class="fas fa-angle-double-right"></i>
											voluptatem accusa nt ium doloremque
										</a>
									</li>
									<li>
										<a href="blog.html">
											<i class="fas fa-angle-double-right"></i>
											doloremque laudantium totam 
										</a>
									</li>
									<li>
										<a href="blog.html">
											<i class="fas fa-angle-double-right"></i>
											unde omnis iste natus error
										</a>
									</li>
								</ul>
							</div>
							<div class="blog-related">
								<h3 class="title-bar">Tin liên quan</h3>
								<ul>
									<li class="row">
										<div class="col-md-4 p-0">
											<div class="img-related">
												<a href="blog-detail.html">
													<img src="~/Frontend/images/img-blog-01.jpg" alt="">
												</a>
											</div>
										</div>
										<div class="col-md-8">
											<div class="info-related">
												<h3 class="name-related">
													<a href="blog-detail.html">
														Best night photo at resort
													</a>
												</h3>
												<p class="created">
													<i class="fas fa-calendar"></i>
													12/12/2012
												</p>
												<p class="created-by">
													<i class="fas fa-user-edit"></i>
													User conccua
												</p>
											</div>
										</div>
									</li>
									<li class="row">
										<div class="col-md-4 p-0">
											<div class="img-related">
												<a href="blog-detail.html">
													<img src="~/Frontend/images/img-blog-01.jpg" alt="">
												</a>
											</div>
										</div>
										<div class="col-md-8">
											<div class="info-related">
												<h3 class="name-related">
													<a href="blog-detail.html">
														Best night photo at resort
													</a>
												</h3>
												<p class="created">
													<i class="fas fa-calendar"></i>
													12/12/2012
												</p>
												<p class="created-by">
													<i class="fas fa-user-edit"></i>
													User conccua
												</p>
											</div>
										</div>
									</li>
									<li class="row">
										<div class="col-md-4 p-0">
											<div class="img-related">
												<a href="blog-detail.html">
													<img src="~/Frontend/images/img-blog-01.jpg" alt="">
												</a>
											</div>
										</div>
										<div class="col-md-8">
											<div class="info-related">
												<h3 class="name-related">
													<a href="blog-detail.html">
														Best night photo at resort
													</a>
												</h3>
												<p class="created">
													<i class="fas fa-calendar"></i>
													12/12/2012
												</p>
												<p class="created-by">
													<i class="fas fa-user-edit"></i>
													User conccua
												</p>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="blog-tags">
								<h3 class="title-bar">Từ khóa</h3>
								<ul>
									<li>
										<a href="#">Nhà đất</a>
									</li>
									<li>
										<a href="#">Sổ đỏ</a>
									</li>
									<li>
										<a href="#">
											Bất động sản
										</a>
									</li>
									<li>
										<a href="#">Nhà đất</a>
									</li>
									<li>
										<a href="#">Sổ đỏ</a>
									</li>
									<li>
										<a href="#">
											Bất động sản
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
