
@{
    ViewBag.Title = "title";
    Layout = "_FrontEndLayout";
}

<section class="news-detail">
			<div class="container p-0">
				<div class="row">
					<div class="col-md-8">
						<h2 class="title-detail">
							Tin tức về nấm con cua giống con cua
						</h2>
						<div class="detail">
							<div class="created">
								<span class="date">
									<i class="fas fa-calendar"></i>
									12/12/2012
								</span>
								<span class="byuser">
									<i class="fas fa-user-edit"></i>
									Admin Concua
								</span>
							</div>

							<div class="img-detail">
								<img src="images/news-01.jpg" alt="">
							</div>

							<div class="text-detail">
								Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ nghĩa dễ gây rối trí và cản trở việc tập trung vào yếu tố trình bày văn bản. Lorem Ipsum có ưu điểm hơn so với đoạn văn bản chỉ gồm nội dung kiểu "Nội dung, nội dung, nội dung" là nó khiến văn bản giống thật hơn, bình thường hơn. Nhiều phần mềm thiết kế giao diện web và dàn trang ngày nay đã sử dụng.
								<iframe width="560" height="315" src="https://www.youtube.com/embed/vWB-8rrig6k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								Lorem Ipsum làm đoạn văn bản giả, và nếu bạn thử tìm các đoạn "Lorem ipsum" trên mạng thì sẽ khám phá ra nhiều trang web hiện vẫn đang trong quá trình xây dựng. Có nhiều phiên bản khác nhau đã xuất hiện, đôi khi do vô tình, nhiều khi do cố ý (xen thêm vào những câu hài hước hay thông tục).
								<img src="images/news-01.jpg" alt="">

								Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ nghĩa dễ gây rối trí và cản trở việc tập trung vào yếu tố trình bày văn bản. Lorem Ipsum có ưu điểm hơn so với đoạn văn bản chỉ gồm nội dung kiểu "Nội dung, nội dung, nội dung" là nó khiến văn bản giống thật hơn, bình thường hơn. Nhiều phần mềm thiết kế giao diện web và dàn trang ngày nay đã sử dụng Lorem Ipsum làm đoạn văn bản giả, và nếu bạn thử tìm các đoạn "Lorem ipsum" trên mạng thì sẽ khám phá ra nhiều trang web hiện vẫn đang trong quá trình xây dựng. Có nhiều phiên bản khác nhau đã xuất hiện, đôi khi do vô tình, nhiều khi do cố ý (xen thêm vào những câu hài hước hay thông tục).
								<img src="images/news-01.jpg" alt="">
								Lorem Ipsum làm đoạn văn bản giả, và nếu bạn thử tìm các đoạn "Lorem ipsum" trên mạng thì sẽ khám phá ra nhiều trang web hiện vẫn đang trong quá trình xây dựng. Có nhiều phiên bản khác nhau đã xuất hiện, đôi khi do vô tình, nhiều khi do cố ý (xen thêm vào những câu hài hước hay thông tục).

								<ul>
									<li>
										câu hài hước hay thông tục.
									</li>
									<li>
										câu hài hước hay thông tục.
									</li>
									<li>
										câu hài hước hay thông tục.
									</li>
								</ul>

								<ol>
									<li>
										câu hài hước hay thông tục.
									</li>
									<li>
										câu hài hước hay thông tục.
									</li>
									<li>
										câu hài hước hay thông tục.
									</li>
								</ol>
							</div>

							<div class="box-share">
								<ul>
									<li>
										Chia sẻ:
									</li>
									<li>
										<a href="#" class="facebook">
											<i class="fab fa-facebook-f"></i>
										</a>
									</li>
									<li>
										<a href="#" class="twitter">
											<i class="fab fa-twitter"></i>
										</a>
									</li>
									<li>
										<a href="#" class="instagram">
											<i class="fab fa-instagram"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="side-bar">
							<div class="search-bar">
								<form action="#" class="form-search">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Tìm kiếm" />
										<button class="btn-search">
											<i class="fas fa-search"></i>
										</button>
									</div>
								</form>
							</div>

							<div class="blog-featured">
								<h3 class="title-bar">Tin xem nhiều</h3>
								<ul class="list-cate">
									<li>
										<a href="blog.html">
											<i class="fas fa-angle-double-right"></i>
											Best night photo at resort
										</a>
									</li>
									<li>
										<a href="blog.html">
											<i class="fas fa-angle-double-right"></i>
											Sed ut perspiciatis unde omnis
										</a>
									</li>
									<li>
										<a href="blog.html">
											<i class="fas fa-angle-double-right"></i>
											voluptatem accusa nt ium doloremque
										</a>
									</li>
									<li>
										<a href="blog.html">
											<i class="fas fa-angle-double-right"></i>
											doloremque laudantium totam 
										</a>
									</li>
									<li>
										<a href="blog.html">
											<i class="fas fa-angle-double-right"></i>
											unde omnis iste natus error
										</a>
									</li>
								</ul>
							</div>

							<div class="blog-new">
								<h3 class="title-bar">Tin xem nhiều</h3>
								<ul class="list-cate">
									<li>
										<a href="blog.html">
											<i class="fas fa-angle-double-right"></i>
											Best night photo at resort
										</a>
									</li>
									<li>
										<a href="blog.html">
											<i class="fas fa-angle-double-right"></i>
											Sed ut perspiciatis unde omnis
										</a>
									</li>
									<li>
										<a href="blog.html">
											<i class="fas fa-angle-double-right"></i>
											voluptatem accusa nt ium doloremque
										</a>
									</li>
									<li>
										<a href="blog.html">
											<i class="fas fa-angle-double-right"></i>
											doloremque laudantium totam 
										</a>
									</li>
									<li>
										<a href="blog.html">
											<i class="fas fa-angle-double-right"></i>
											unde omnis iste natus error
										</a>
									</li>
								</ul>
							</div>
							<div class="blog-related">
								<h3 class="title-bar">Tin liên quan</h3>
								<ul>
									<li class="row">
										<div class="col-md-4 p-0">
											<div class="img-related">
												<a href="~/Frontend/blog-detail.html">
													<img src="~/Frontend/images/img-blog-01.jpg" alt="">
												</a>
											</div>
										</div>
										<div class="col-md-8">
											<div class="info-related">
												<h3 class="name-related">
													<a href="~/Frontend/blog-detail.html">
														Best night photo at resort
													</a>
												</h3>
												<p class="created">
													<i class="fas fa-calendar"></i>
													12/12/2012
												</p>
												<p class="created-by">
													<i class="fas fa-user-edit"></i>
													User conccua
												</p>
											</div>
										</div>
									</li>
									<li class="row">
										<div class="col-md-4 p-0">
											<div class="img-related">
												<a href="~/Frontend/blog-detail.html">
													<img src="~/Frontend/images/img-blog-01.jpg" alt="">
												</a>
											</div>
										</div>
										<div class="col-md-8">
											<div class="info-related">
												<h3 class="name-related">
													<a href="~/Frontend/blog-detail.html">
														Best night photo at resort
													</a>
												</h3>
												<p class="created">
													<i class="fas fa-calendar"></i>
													12/12/2012
												</p>
												<p class="created-by">
													<i class="fas fa-user-edit"></i>
													User conccua
												</p>
											</div>
										</div>
									</li>
									<li class="row">
										<div class="col-md-4 p-0">
											<div class="img-related">
												<a href="~/Frontend/blog-detail.html">
													<img src="~/Frontend/images/img-blog-01.jpg" alt="">
												</a>
											</div>
										</div>
										<div class="col-md-8">
											<div class="info-related">
												<h3 class="name-related">
													<a href="~/Frontend/blog-detail.html">
														Best night photo at resort
													</a>
												</h3>
												<p class="created">
													<i class="fas fa-calendar"></i>
													12/12/2012
												</p>
												<p class="created-by">
													<i class="fas fa-user-edit"></i>
													User conccua
												</p>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="blog-tags">
								<h3 class="title-bar">Từ khóa</h3>
								<ul>
									<li>
										<a href="#">Nhà đất</a>
									</li>
									<li>
										<a href="#">Sổ đỏ</a>
									</li>
									<li>
										<a href="#">
											Bất động sản
										</a>
									</li>
									<li>
										<a href="#">Nhà đất</a>
									</li>
									<li>
										<a href="#">Sổ đỏ</a>
									</li>
									<li>
										<a href="#">
											Bất động sản
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>