

@{
    ViewBag.Title = "title";
    Layout = "_FrontEndLayout";
}

		<section class='cart'>
			<div class='container p-0'>
				<div class='row'>
					<div class="col-md-12">
						<h2 class="title-page">
							Giỏ hàng của bạn
						</h2>
					</div>
					<div class='col-md-12'>
						<div class='list-cart table'>
							<table class="text-center">
								<thead>
									<tr>
										<th>STT</th>
										<th>Ảnh sản phẩm</th>
										<th>Tên sản phẩm</th>
										<th>Giá</th>
										<th>Số lượng</th>
										<th>Thành tiền</th>
										<th>Thao tác</th>
									</tr>
								</thead>
								<tbody>
									<tr class='item-cart'>
										<td>1</td>
										<td>
											<img alt='' src='~/Frontend/images/img-product-02.jpg'>
										</td>
										<td class='w-300px'>Áo sơ mi nam dài tay Aristino ALSW - MLC</td>
										<td>123.000 đ</td>
										<td class='w-200px'>
											<form action='#' class='form-update-cart'>
												<input type='number' value='1'>
												<button class='up-qty' type='button'>
													<i class='fas fa-plus'></i>
												</button>
												<button class='down-qty' type='button'>
													<i class='fas fa-minus'></i>
												</button>
											</form>
										</td>
										<td>123.000 đ</td>
										<td>
											<button class='btn-danger' type='button'>
												<i class='fas fa-trash'></i>
											</button>
										</td>
									</tr>
									<tr class='item-cart'>
										<td>1</td>
										<td>
											<img alt='' src='~/Frontend/images/img-product-01.jpg'>
										</td>
										<td class='w-300px'>Áo sơ mi nam dài tay Aristino</td>
										<td>123.000 đ</td>
										<td class='w-200px'>
											<form action='#' class='form-update-cart'>
												<input type='number' value='1'>
												<button class='up-qty' type='button'>
													<i class='fas fa-plus'></i>
												</button>
												<button class='down-qty' type='button'>
													<i class='fas fa-minus'></i>
												</button>
											</form>
										</td>
										<td>123.000 đ</td>
										<td>
											<button class='btn-danger' type='button'>
												<i class='fas fa-trash'></i>
											</button>
										</td>
									</tr>
									<tr>
										<td class='text-right' colspan='5'>
											<h3>Tổng hóa đơn:</h3>
										</td>
										<td colspan='2'>
											<h3>246.000 đ</h3>
										</td>
									</tr>
									<tr>
										<td colspan='7'>
											<div class='row justify-content-end'>
												<a class='to-checkout' href='checkout.html'>
													Thanh toán
												</a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
