@{
    ViewBag.Title = "title";
    Layout = "_FrontEndLayout";
}
		<section class="breadcrumb">
			<div class="container p-0">
				<div class="col-md-12">
					<ul>
						<li>
							<a href="#">
								Trang chủ
							</a>
						</li>
						<li>
							Thanh toán
						</li>
					</ul>
				</div>
			</div>
		</section>

		<section class='box-checkout-02'>
			<div class='container p-0'>
				<div class='row m-0 bd-top'>
					<div class="col-md-12 mt-3">
						<h2 class="title-page">
							Thanh toán
						</h2>
					</div>
					<div class='col-md-6'>
						<form action='#' class='sl-payment'>
							<div class='list-ship'>
								<h2 class='title-sl-payment'>1. Chọn hình thức vận chuyển</h2>
								<div class='item-payment m-border m-border-blue'>
									<label class='radio-guide radio-guide-payment'>
										Giao hàng Mulaco (0đ)
										<input checked='checked' name='htship' type='radio'>
										<span class='checkmark show-info-payment'></span>
									</label>
									<div class='info-payment onblock'>
										Tiết kiệm chi phí vận chuyển giao hàng thu tiền toàn quốc với Shipchung.vn. Tra cứu & so sánh phí vận chuyển của nhiều hãng ngay lập tức, chính xác.Thường xuyên có các chương trình khuyến mãi, ưu đãi tích điểm nhận quà.
									</div>
								</div>
								<div class='item-payment m-border'>
									<label class='radio-guide radio-guide-payment'>
										Giao hàng tiêu chuẩn
										<input name='htship' type='radio'>
										<span class='checkmark show-info-payment'></span>
									</label>
									<div class='info-payment'>
										Tiết kiệm chi phí vận chuyển giao hàng thu tiền toàn quốc với Shipchung.vn. Tra cứu & so sánh phí vận chuyển của nhiều hãng ngay lập tức, chính xác.Thường xuyên có các chương trình khuyến mãi, ưu đãi tích điểm nhận quà.
									</div>
								</div>
								<div class='item-payment m-border'>
									<label class='radio-guide radio-guide-payment'>
										Giao hàng COD
										<input name='htship' type='radio'>
										<span class='checkmark show-info-payment'></span>
									</label>
									<div class='info-payment'>
										Tiết kiệm chi phí vận chuyển giao hàng thu tiền toàn quốc với Shipchung.vn. Tra cứu & so sánh phí vận chuyển của nhiều hãng ngay lập tức, chính xác.Thường xuyên có các chương trình khuyến mãi, ưu đãi tích điểm nhận quà.
									</div>
								</div>
							</div>
							<div class='list-htpayment'>
								<h2 class='title-sl-payment'>2. Chọn hình thức thanh toán</h2>
								<div class='item-payment m-border m-border-blue'>
									<label class='radio-guide radio-guide-payment'>
										Thanh toán tiền mặt khi nhận hàng
										<input checked='checked' name='htpayment' type='radio'>
										<span class='checkmark show-info-payment'></span>
									</label>
									<div class='info-payment onblock'>
										Tiết kiệm chi phí vận chuyển giao hàng thu tiền toàn quốc với Shipchung.vn. Tra cứu & so sánh phí vận chuyển của nhiều hãng ngay lập tức, chính xác.Thường xuyên có các chương trình khuyến mãi, ưu đãi tích điểm nhận quà.
									</div>
								</div>
								<div class='item-payment m-border'>
									<label class='radio-guide radio-guide-payment'>
										Thanh toán bằng thể quốc tế Visa, Master Card
										<input name='htpayment' type='radio'>
										<span class='checkmark show-info-payment'></span>
									</label>
									<div class='info-payment'>
										Tiết kiệm chi phí vận chuyển giao hàng thu tiền toàn quốc với Shipchung.vn. Tra cứu & so sánh phí vận chuyển của nhiều hãng ngay lập tức, chính xác.Thường xuyên có các chương trình khuyến mãi, ưu đãi tích điểm nhận quà.
									</div>
								</div>
								<div class='item-payment m-border'>
									<label class='radio-guide radio-guide-payment'>
										Thanh toán ATM nội đia, Internet Banking (Miễn phí thanh toán)
										<input name='htpayment' type='radio'>
										<span class='checkmark show-info-payment'></span>
									</label>
									<div class='info-payment'>
										Tiết kiệm chi phí vận chuyển giao hàng thu tiền toàn quốc với Shipchung.vn. Tra cứu & so sánh phí vận chuyển của nhiều hãng ngay lập tức, chính xác.Thường xuyên có các chương trình khuyến mãi, ưu đãi tích điểm nhận quà.
									</div>
								</div>
							</div>
							<button class='btn-blue w-100 mt-2' type='submit'>
								Hoàn tất đơn hàng
							</button>
						</form>
					</div>
					<div class='moffset-1 col-md-5'>
						<div class='list-ordered'>
							<h2 class='title-ordered'>Đơn hàng: 2 sản phẩm</h2>
							<div class='row item-ordered'>
								<div class='img-ordered'>
									<img alt='' src='~/Frontend/images/img-product-02.jpg'>
								</div>
								<div class='info-ordered'>
									<h3 class='namr-ordered'>Khử Mùi Hôi Chân Và Giầy Dạng Xịt ZUCHI FAMILY</h3>
									<div class='price'>495,000đ</div>
									<div class='old-price'>
										<del>795,000đ</del>
									</div>
								</div>
								<div class='qty'>x1</div>
							</div>
							<div class='row item-ordered'>
								<div class='img-ordered'>
									<img alt='' src='~/Frontend/images/img-product-01.jpg'>
								</div>
								<div class='info-ordered'>
									<h3 class='namr-ordered'>Khử Mùi Hôi Chân Và Giầy Dạng Xịt ZUCHI FAMILY</h3>
									<div class='price'>495,000đ</div>
									<div class='old-price'>
										<del>795,000đ</del>
									</div>
								</div>
								<div class='qty'>x1</div>
							</div>
							<div class='row m-0 mt-3'>
								<div class='col-md-6'>Phí shipping:</div>
								<div class='col-md-6 text-right'>30.000 đ</div>
							</div>
							<div class='row mt-1 bd-top pt-1'>
								<div class='col-md-6 fs-18'>Thành tiền:</div>
								<div class='col-md-6 text-right'>
									<b>16.900.000 đ</b>
								</div>
							</div>
							<div class='row m-0 mt-3'>
								<div class='col-md-6'>Tổng hóa đơn:</div>
								<div class='col-md-6 text-right'>
									<b>16.900.000 đ</b>
								</div>
							</div>
						</div>
						<div class='list-ordered mt-2'>
							<h3 class='title-address'>Giao hàng đến</h3>
							<div class='txt-address'>
								45A Đỗ Quang, Trung Hòa, Cầu Giấy, Hà Nội, Trung Hoà, Cầu Giấy, Hà Nội 100000
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


