@model CoV.Service.DataModel.CustomerViewModel
@{
    ViewBag.Title = "title";
    Layout = "_FrontEndLayout";
}
    <section class="breadcrumb">
        <div class="container p-0">
            <div class="col-md-12">
                <ul>
                    <li>
                        <a href="#">
                            Trang chủ
                        </a>
                    </li>
                    <li>
                        Thanh toán
                    </li>
                </ul>
            </div>
        </div>
    </section>

	<section class="checkout mt-3">
			<div class="container p-0">
				<div class="row sub-checkout mb-1 text-center justify-content-center">
					<div class="col-md-7">
						<div class="">
							<h1 class="title-section">
								Thanh toán
							</h1>
						</div>
						<div class="">
							<b>Bạn đã có tài khoản?</b> <a href="#">Đăng nhập ngay</a>
							<div class="">
								Nếu bạn là khách hàng mới? Chúng tôi lưu thông tin bạn sau
							</div>
						</div>
						<div class="checkout-first mb-2 mt-2">
							<form action="#">
								<div class="order">
									<h3 class="mb-1">Thông tin khách hàng</h3>
									<label style="float: left">Họ</label>
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Họ:" asp-for="FirstName">
									</div>
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Tên:" asp-for="LastName">
									</div>
									<div class="form-group">
										<input type="number" class="form-control" placeholder="Số điện thoại:" asp-for="PhoneNumber">
									</div>
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Email:" asp-for="Email">
									</div>
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Tỉnh.." asp-for="City">
									</div>
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Địa chỉ..." asp-for="Address">
									</div>
									<div class="form-group">
										<textarea rows="5" class="textarea"></textarea>
									</div>
									<div class="row form-group">
										<input type="checkbox" checked="checked" class="my-checkbox mr-1" id="check-order"  placeholder="Thêm chú ý..."/>
										<label for="check-order" class="check-order">
											Sử dụng cùng một địa chỉ cho thanh toán và vận chuyển?
										</label>
									</div>
								</div>

								<div class="sbm-form">
									<button class="btn-blue w-100" type="submit">
										Tiếp tục
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>