

@{
    ViewBag.Title = "title";
    Layout = "_FrontEndLayout";
}

<section class="signin">
			<div class="container p-0">
				<div class="row">
					<div class="col-md-12 text-center mb-2">
						<h1 class="">
							Đăng ký
						</h1>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-6">
						<div class="form">
							<form action="#">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Họ*" />
								</div>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Tên*" />
								</div>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Số điện thoại*" />
								</div>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Email*" />
								</div>
								<div class="form-group select">
									<select name="" id="" class="form-control">
										<option value="">Tỉnh / Thành phố*</option>
										<option value="1">Thái Bình</option>
										<option value="2">Hà Nội</option>
									</select>
									<span class="icon-select">
										<i class="fas fa-chevron-down"></i>
									</span>
								</div>
								<div class="form-group select">
									<select name="" id="" class="form-control">
										<option value="">Quận / Huyện*</option>
										<option value="1">Kiến Xương</option>
										<option value="2">Ba Đình</option>
									</select>
									<span class="icon-select">
										<i class="fas fa-chevron-down"></i>
									</span>
								</div>
								<div class="form-group">
									<input type="password" class="form-control" placeholder="Mật khẩu*" />
								</div>
								<div class="form-group">
									<input type="password" class="form-control" placeholder="Nhập lại mật khẩu*" />
								</div>

								<div class="form-group">
									<button class="btn-blue w-100" type="submit">
										Đăng ký
									</button>
								</div>

								<div class="form-group">
									Bạn đã có tài khoản? <a class="color-blue" href="signup.html">Đăng nhập ngay</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
