@{
	ViewBag.title = "Title";
	Layout = null;
}

<!DOCTYPE html>
<html>
<body style="box-sizing: border-box;padding:0;margin:0;box-sizing:border-box;color:#4a4a4a;font-size:14px;font-family: 'Open Sans', sans-serif;">
	<meta charset='utf-8'>
	<meta content='IE=edge' http-equiv='X-UA-Compatible'>
	<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0' name='viewport'>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap&subset=vietnamese" rel="stylesheet">
	<title>Invoid</title>
	
	<div class='wrapper'>
		<header style="box-sizing: border-box;margin-top: 1rem;">
			<div style="box-sizing: border-box;padding: 12px 0px;">
				<div style="box-sizing: border-box;max-width: 1200px;padding: 0 !important;margin-right: auto; margin-left: auto;">
					<div style="box-sizing: border-box;display: flex;">
						<div style="box-sizing: border-box;width: 80%;margin-left: 10%;">
							<div style="box-sizing: border-box;display: flex;width: 100%;align-items:center;">
								<div style="box-sizing: border-box;position: relative;padding-right: 10px;padding-left: 10px;display: inline-table;width: 30%;">
									<h1 style="box-sizing: border-box;margin: 0;">
										<a href='index-desktop.html'>
											<img alt='' src='../images/desktop/logo-mulaco.png'>
										</a>
									</h1>
									<div style="box-sizing: border-box;font-size: 13px;color: #1b2367;">
										Tin Tưởng - Tiện Lợi - Nhanh Chóng
									</div>
								</div>
								<div style="box-sizing: border-box;display: inline-table;width: 70%;padding-right: 10px;padding-left: 10px;">
									<h3 style="box-sizing: border-box;margin-bottom: .5rem;font-size: 18px;font-weight: 600;">HỆ THỐNG BÁN GIÀY TULI STORE</h3>
									<div>Hỗ trợ khách hàng 24/7</div>
									<div>Hotline: 1900.0000 hoặc truy cập: http://hotro.mulaco.vn</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<section>
			<div style="box-sizing: border-box;max-width: 1200px;padding: 0 !important;margin-right: auto; margin-left: auto;">
				<div style="box-sizing: border-box;display: flex;">
					<div style="box-sizing: border-box;width: 80%;margin-left: 10%;">
						<div style="box-sizing: border-box;display: table;margin: 1.5rem 0;width: 100%;">
							<div style="box-sizing: border-box;padding:0 10px;display: inline-table;width: 20%;">
								<p style="margin: 0;padding-bottom: .5rem;">Đơn hàng:</p>
								<p style="margin: 0;padding-bottom: .5rem;">Thanh toán:</p>
							</div>
							<div style="box-sizing: border-box;padding:0 10px;display: inline-table;width: 80%;">
								<p style="margin: 0;padding-bottom: .5rem;">
									<b style="font-weight:600">#e599118 (Ngày 01/01/2019 19:30:19)</b>
								</p>
								<p style="margin: 0;padding-bottom: .5rem;">
									<b style="font-weight:600">Thanh toán tiền mặt khi nhận</b>
								</p>
							</div>
						</div>
						<div style="box-sizing: border-box;padding: 1.5rem;background: #f4f4f4;margin-bottom: 2rem; width: 100%;">
							<div style="display: table;width: 100%;">
								<div style="box-sizing: border-box;padding:0 10px;display: inline-table;width: 50%;">
									<h3 style="font-size: 18px;margin-bottom: 1rem;font-weight: 600;margin-top: 0;">Thông tin thanh toán</h3>
									<div>
										<table style="width:100%;">
											<tbody>
												<tr>
													<td style="vertical-align: text-bottom;">Tên:</td>
													<td style="vertical-align: text-bottom;">
														<b style="font-weight:600">Nguyễn Quang Hiếu</b>
													</td>
												</tr>
												<tr>
													<td style="vertical-align: text-bottom;">Email:</td>
													<td style="vertical-align: text-bottom;">
														<b style="font-weight:600">taggameonl@gmail.com</b>
													</td>
												</tr>
												<tr>
													<td style="width: 20%;vertical-align: text-bottom;">Số đt:</td>
													<td style="vertical-align: text-bottom;">
														<b style="font-weight:600">0975573592</b>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div style="box-sizing: border-box;padding:0 10px;display: inline-table;width: 50%;">
									<h3 style="font-size: 18px;margin-bottom: 1rem;font-weight: 600;margin-top: 0;">Thông tin giao hàng</h3>
									<div>
										<table style="width:100%;">
											<tbody>
												<tr>
													<td style="vertical-align: text-bottom;">Tên:</td>
													<td style="vertical-align: text-bottom;">
														<b style="font-weight:600">Nguyễn Quang Hiếu</b>
													</td>
												</tr>
												<tr>
													<td style="vertical-align: text-bottom;">SDT:</td>
													<td style="vertical-align: text-bottom;">
														<b style="font-weight:600">taggameonl@gmail.com</b>
													</td>
												</tr>
												<tr>
													<td style="width: 20%;vertical-align: text-bottom;">Địa chỉ:</td>
													<td style="vertical-align: text-bottom;">
														<b style="font-weight:600">HÀ NỘI</b>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						<div style="box-sizing: border-box;display: table;width: 100%;">
							<div style="box-sizing: border-box;padding: 0 10px;display: inline-table;width: 25%;">
								<div>Sản phẩm</div>

							</div>
							<div style="box-sizing: border-box;padding: 0 10px;display: inline-table;width: 25%;">
								<div>Số lượng</div>
							</div>
							<div style="box-sizing: border-box;padding: 0 10px;display: inline-table;width: 25%;">
								<div>Giá</div>
							</div>
							<div style="box-sizing: border-box;padding: 0 10px;display: inline-table;width: 25%;">
								<div style="text-align: right;">Thành tiền</div>
							</div>
						</div>
						<div style="box-sizing: border-box;display: table;width: 100%;margin-top: 1rem;border-top: 1px solid #e7e7e7;padding-top: 1rem;">
							<div style="box-sizing: border-box;padding: 0 10px;display: inline-table;width: 25%;">
								<h3 style="font-weight: normal;font-size: 14px;margin-bottom: .5rem;margin-top: 0;">Khử Mùi Hôi Chân Và Giầy Dạng Xịt ZUCHI FAMILY</h3>
								<p style="margin: 0;padding-bottom: .5rem;">Công sở</p>
								<p style="margin: 0;padding-bottom: .5rem;">Size:   M</p>
								<p style="margin: 0;padding-bottom: .5rem;">Color:  Black</p>
							</div>
							<div style="box-sizing: border-box;padding: 0 10px;display: inline-table;width: 25%;">
								<div>1</div>
							</div>
							<div style="box-sizing: border-box;padding: 0 10px;display: inline-table;width: 25%;">
								<div>495,000đ</div>
							</div>
							<div style="box-sizing: border-box;padding: 0 10px;display: inline-table;width: 25%;">
								<div style="text-align: right;">495,000đ</div>
							</div>
						</div>
						<div style="box-sizing: border-box;display:table;width: 100%; margin-top: 1rem;border-top: 1px solid #e7e7e7;padding-top: 1rem;">
							<div style="box-sizing: border-box;width: 25%; padding:0 10px;margin-left: 50%;display: inline-table;">
								<p style="margin: 0;padding-bottom: .5rem;">Phí vận chuyển: </p>
								<p style="margin: 0;padding-bottom: .5rem;">Khuyến mãi:</p>
								<p style="margin: 0;padding-bottom: .5rem;font-size:18px;">Tổng tiền:</p>
							</div>
							<div style="box-sizing: border-box;padding:0 10px;text-align:right;display: inline-table;    width: 25%;">
								<p style="margin: 0;padding-bottom: .5rem;">30.000 đ</p>
								<p style="margin: 0;padding-bottom: .5rem;">0đ</p>
								<p style="margin: 0;padding-bottom: .5rem;font-size:18px;font-weight: 600;">525,000đ</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	
</body>
</html>