$base_grid : percentage(1/12);
$col_md: col-md !default;
$moffset: moffset !default;

$flex_base : percentage(1/100);
$flex:mflex;

$width_base : percentage(1/100);
$mwidth:mwidth;



$color-body: #4a4a4a;
$color-tag-a:#0d81d4;
$color-hover-tag-a:#ffc20d;

$color-warning:#f37b00;
$color-green:#26633b;
$cl-orange:#e9563b;
$color-danger:#ba360a;
$color-white:#fff;
$color-black:#000;
$color-blue:#0d81d4;
$border-default:#e7e7e7;
$bg-white:#fff;
$bg-black:#000;
$color-default:#9ea3a7;

$color-bg:#22252A;





$size_base:16;
$font_family: 'Arsenal', sans-serif;
