@model CoV.Service.DataModel.UserViewModel

@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="col-sm-5">
        <form role="form" enctype="multipart/form-data" asp-controller="Account" asp-action="ExpiredDate" method="post">
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input class="form-control" id="exampleInputEmail1" placeholder="Enter email" required asp-for="UserName"  readonly>
                    <div>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label >ExpiredDate</label>
                        <input class="form-control" min="ExpiredDate" asp-for="ExpiredDate">
                    <div>
                        <span asp-validation-for="Password"  class="text-danger"></span>
                    </div>
                </div>
        
            <!-- /.card-body -->

            <div class="card-footer" style="text-align: center">
                <button type="submit" class="btn btn-primary">Update Date</button>
            </div>
            </div>
        </form>
    </div>
    <div class="col-sm-7">
        
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
@section Scripts
{
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    $('#blah').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        };
        $("#imgInp").change(function() {
            readURL(this);
        });
    </script>
}