@model CoV.Service.DataModel.LoginForgetPassword

@{
    ViewBag.Title = "title";
    Layout = "_Loginx";
}

<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form  class="login100-form " asp-action="LoginForgetPassword" asp-controller="Account" method="post">
        <span class="login100-form-title p-b-43" >
          <h4 style="font-family: -apple-system; font-weight: bold; color:teal" >HỆ THỐNG GIÀY DÉP TULI STORE</h4>
        </span>
        <div asp-validation-summary="ModelOnly" class="text-danger"  style="text-align: center"></div>	
        <div class="wrap-input100 " >
          <input  class="input100" type="email"  asp-for="Username">
          <span class="focus-input100"></span>
          <span class="label-input100">Email</span>
          <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        
        
        <div class="wrap-input100 validate-input" >
          <input class="input100" type="password" asp-for="Password">
          <span class="focus-input100"></span>
          <span class="label-input100">Mật khẩu xác thực</span>
         
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>
        
        <div class="wrap-input100 validate-input" >
          <input class="input100" type="password" asp-for="PasswordNew">
          <span class="focus-input100"></span>
          <span class="label-input100">Mật khẩu mới</span>
         
        </div>
        <span asp-validation-for="PasswordNew" class="text-danger"></span>
        
        <div class="wrap-input100 validate-input" >
          <input class="input100" type="password" asp-for="PasswordNewConfigure">
          <span class="focus-input100"></span>
          <span class="label-input100">Xác thực mật khẩu mới</span>
        </div>
        <span asp-validation-for="PasswordNewConfigure" class="text-danger"></span>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn">
            Cập nhật mật khẩu
          </button>
        </div>
        <a asp-controller="Account" asp-action="Login">
          <div class="container-login100-form-btn" style="margin-top: 10px">
            <button type="button" class="login100-form-btn">
              Quay trở lại
            </button>
          </div>
        </a>
      </form>
      
      <div class="login100-more" style="background-image: url('/Images/Bitis_Hunter.jpg');">
      </div>
    </div>
  </div>
</div>


