/* http://www.menucool.com */

#thumbnail-slider {
    /* -webkit-transform: scale(0.7);
    -ms-transform:scale(0.7);
        transform:scale(0.7);
    -webkit-transition:-webkit-transform 0.25s;
    transition:-webkit-transform 0.25s;
    -o-transition:transform 0.25s;
    transition:transform 0.25s;
    transition:transform 0.25s, -webkit-transform 0.25s;
    opacity:0.8; */

    margin:4px auto; /*center-aligned*/
    width:100%;
    /* max-width:780px; */
    padding:0px 51px;/*Gives room for arrow buttons*/
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    position:relative;
    -webkit-user-select: none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

#thumbnail-slider:hover #thumbnail-slider-prev{
    display: block !important;
}

#thumbnail-slider:hover #thumbnail-slider-next{
    display: block !important;
}

/* #thumbnail-slider:hover {
    -webkit-transform: scale(1);
    -ms-transform:scale(1);
        transform:scale(1);
    opacity:1;
    } */

    #ninja-slider.fullscreen #thumbnail-slider {
        width:90%;
        max-width:1120px;
    }

    #thumbnail-slider div.inner {
        /*the followings should not be changed */
        position:relative;
        overflow:hidden;
        padding:2px 0;
        margin:0;
    }


    #thumbnail-slider div.inner ul {

        /*the followings should not be changed */
        white-space:nowrap;
        position:relative;
        left:0; top:0;
        list-style:none;
        font-size:0;
        padding:0;
        margin:0;
        float:left!important;
        width:auto!important;
        height:auto!important;
    }

    #thumbnail-slider ul li {
        opacity:1;
        overflow:visible;
        display:inline-block;
        *display:inline!important; /*IE7 hack*/
        border:2px solid #fff;
        margin:0 5px;/* Spacing between thumbs*/
        -webkit-box-sizing:content-box;
        box-sizing:content-box;

        text-align:center;
        vertical-align:middle;
        padding:0;
        position:relative;
        list-style:none;
        -webkit-backface-visibility:hidden;
        backface-visibility:hidden;

        -webkit-transition:all 0.2s;

        -o-transition:all 0.2s;

        transition:all 0.2s;
        -webkit-transform:scale(1); 
        -ms-transform:scale(1); 
        transform:scale(1);
        width: 80px !important;
        height: 80px !important;
    }

    #thumbnail-slider ul li.active {
        border-color: #e9563b;
    }

    #thumbnail-slider li:hover {
        border-color:rgba(255,255,255,0.7);
    }


    #thumbnail-slider .thumb {
        width:100%;
        height: 100%;
        background-size:cover;
        background-repeat:no-repeat;
        background-position:center center;
        display:block;
        position:absolute;
        font-size:0;
    }


    /* --------- Captions ------- */
    #thumbnail-slider li > span {
        position:absolute;
        color:rgba(255,255,255,0.7);
        font-size:22px;
        bottom:2px;
    }


    /* --------- navigation controls ------- */
    /* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */

    #thumbnail-slider-pause-play {display:none;} /*.pause*/

    #thumbnail-slider-prev{
        position: absolute;
        background-color:none;
        width:35px;
        height:35px;
        line-height:35px;
        top: 50%;
        margin:0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        color:white;
        z-index:10;
        cursor:pointer;
        opacity:1;
        *background-color:#ccc;/*IE7 hack*/
        display: none;
    }
    #thumbnail-slider-next
    {
        position: absolute;
        background-color:none;
        width:35px;
        height:35px;
        line-height:35px;
        top: 50%;
        margin:0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        color:white;
        z-index:10;
        cursor:pointer;
        opacity:1;
        *background-color:#ccc;/*IE7 hack*/
        display: none;
    }

    #thumbnail-slider-prev {
        left:0;
        right:auto;
        background: #EE3131;
        opacity: 1;
        color: #fff;
        border-radius: 50%;
        -webkit-transition: all .35s;
        -o-transition: all .35s;
        transition: all .35s;
    }
    #thumbnail-slider-prev:hover {
        background: #1b2367;
    }
    


    #thumbnail-slider-next {
        right:0;
        left:auto;
        background: #EE3131;
        opacity: 1;
        color: #fff;
        border-radius: 50%;
        -webkit-transition: all .35s;
        -o-transition: all .35s;
        transition: all .35s;
    }
    #thumbnail-slider-next:hover {
        background: #1b2367;
    }
    #thumbnail-slider-next.disabled, #thumbnail-slider-prev.disabled {
        opacity:0.5;
        cursor:no-drop;
    }

    /* arrows */
    #thumbnail-slider-prev::before{
        position: absolute;
        top: 0px;
        content: "\f060";
        font-family: 'Font Awesome 5 Free';
        display: block;
        width: 100%;
        height: 100%;
        font-size: 16px;
        font-weight: 900;
        text-align: center;
    }
    #thumbnail-slider-next::before {
        position: absolute;
        top: 0px;
        content: "\f061";
        font-family: 'Font Awesome 5 Free';
        display: block;
        font-weight: 900;
        width: 100%;
        height: 100%;
        font-size: 16px;
        text-align: center;
    }

/* #thumbnail-slider-prev::before {
    left:14px;
    -ms-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
    } */

    /* #thumbnail-slider-next::before {
        right:14px;
        -ms-transform:rotate(135deg);IE9
        -webkit-transform:rotate(135deg);
        transform: rotate(135deg);
    } */

    /*Responsive settings*/
    @media only screen and (max-width:736px){

        #thumbnail-slider {
            padding:0;
        }

        #thumbnail-slider-prev, #thumbnail-slider-next {
            display:block;
        }
    }
