@model CoV.Service.DataModel.CreateClasserModel
@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}

<div class="container-fluid" >
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered table-hover">
                <form  asp-controller ="Classes" asp-action ="Update" method="post" >
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" readonly="readonly" placeholder="Email" asp-for="ClassName"   >
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3">  
                        <input class="form-control" placeholder="Password" asp-for="ClassMember">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block"  >Update</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            </table>
        </div>
       
    </div>
</div>
