@model CoV.Service.DataModel.loginCustomerViewModel

@{
	ViewBag.Title = "title";
	Layout = "_FrontEndLayout";
}
<style>
	ul {
		list-style-type: none;
	}
</style>
<section class="signin">
	<div class="container p-0">
		<div class="row">
			<div class="col-md-12 text-center mb-2">
				<h1 class="">
					Đăng nhập
				</h1>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="form">
					<form asp-controller="Customer" asp-action="LoginCustomer" method="post">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Email" asp-for="Email" />
							<span asp-validation-for="Email" class="text-danger" style="list-style-type: none; ;color: red; text-align: center"></span>
						</div>
						<div class="form-group">
							<input type="password" class="form-control" placeholder="Mật khẩu" asp-for="PassWord" />
							<span asp-validation-for="PassWord" class="text-danger" style="list-style-type: none; ;color: red; text-align: center"></span>
						</div>
						<div class="form-group">
							<input type="checkbox" class="my-checkbox" id="remember-me" />
							<label for="remember-me">
								Ghi nhớ tài khoản
							</label>
						</div>
						<div  asp-validation-summary="ModelOnly" class="text-danger"  style="list-style-type: none; ;color: red; text-align: center"></div>	
						<div class="form-group">
							<button class="btn-blue w-100" type="submit">
								Đăng nhập
							</button>
						</div>

						<div class="form-group">
							Bạn chưa có tài khoản? <a class="color-blue" asp-action="CreateAndUpdate" asp-controller="Customer" >Đăng ký ngay</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
